<div class="main__container">

    <div class="main__header">
        <h1>PERSONAL KANBAN</h1>
        <mat-icon mat-button [matMenuTriggerFor]="menu">settings</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)='sprints()'>Sprints</button>
            <button mat-menu-item (click)='members()'>Members</button>
        </mat-menu>
    </div>
    <div class="main__actions">
        <button mat-raised-button color="primary" (click)='openCreateTask()'>
            <mat-icon>add</mat-icon>
            <span>CREATE TASK</span>
        </button>

        <mat-form-field appearance="standard">
            <mat-label>Sprints</mat-label>
            <mat-select [(ngModel)]="idSelected" (selectionChange)='changeSprint()'>
                <mat-option *ngFor="let sprint of sprints$ | async" [value]="sprint.id">{{sprint.name}}</mat-option>
            </mat-select>
        </mat-form-field>


    </div>
    <div class="main__table">
        <div class="main__table__todo">
            <div class="title">To Do</div>
            <div class="content" cdkDropList #todoList="cdkDropList" [cdkDropListData]="sprintSelected.toDo"
                [cdkDropListConnectedTo]="[progressList,blockedList,doneList]"
                (cdkDropListDropped)="drop($event,'toDo')">
                <app-resume class='box' cdkDrag *ngFor="let item of sprintSelected.toDo" [task]='item'
                    [sprintId]='idSelected'></app-resume>
            </div>
        </div>
        <div class="main__table__progress">
            <div class="title">Progress</div>
            <div class="content" cdkDropList #progressList="cdkDropList" [cdkDropListData]="sprintSelected.progress"
                [cdkDropListConnectedTo]="[todoList,blockedList,doneList]"
                (cdkDropListDropped)="drop($event,'progress')">
                <app-resume class='box' cdkDrag *ngFor="let item of sprintSelected.progress" [task]='item'
                    [sprintId]='idSelected'></app-resume>
            </div>
        </div>
        <div class="main__table__blocked">
            <div class="title">Blocked</div>
            <div class="content" cdkDropList #blockedList="cdkDropList" [cdkDropListData]="sprintSelected.blocked"
                [cdkDropListConnectedTo]="[todoList,progressList,doneList]"
                (cdkDropListDropped)="drop($event,'blocked')">
                <app-resume class='box' cdkDrag *ngFor="let item of sprintSelected.blocked" [task]='item'
                    [sprintId]='idSelected'></app-resume>
            </div>
        </div>
        <div class="main__table__done">
            <div class="title">Done</div>
            <div class="content" cdkDropList #doneList="cdkDropList" [cdkDropListData]="sprintSelected.done"
                [cdkDropListConnectedTo]="[todoList,progressList,blockedList]"
                (cdkDropListDropped)="drop($event,'done')">
                <app-resume class='box' cdkDrag *ngFor="let item of sprintSelected.done" [task]='item'
                    [sprintId]='idSelected'></app-resume>
            </div>
        </div>
    </div>
</div>